.section-padding {
  padding: 0 4em;
}

.section-heading {
  position: relative;
  margin-bottom: 2em;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nanum Gothic", "Montserrat", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em 4em;
  background-color: #141618;
  z-index: 1000;
}
.nav__logo {
  margin: 1em;
}
.nav__logo-item {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  color: #FFFFFF;
  font-weight: 800;
  transition: color 0.3s;
}
.nav__logo-item:hover {
  color: #b5b3b3;
}
.nav__item {
  padding: 0.5em;
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #b5b3b3;
  transition: color 0.3s;
}
.nav__item:hover {
  color: #FFFFFF;
}
.nav__translate {
  display: inline-block;
  text-decoration: none;
}

#particles-js {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/header-mobile.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
}
.header__heading {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(18vmin + 8 * (100vw - 400px) / 400);
  text-transform: uppercase;
  color: #FFFFFF;
  transition: opacity 0.2s;
}
.header__heading--first {
  z-index: 200;
}
.header__heading--second {
  opacity: 0;
  z-index: 100;
}
.header__heading-box {
  cursor: pointer;
}
.header__heading-box:hover .header__heading--first {
  opacity: 0;
}
.header__heading-box:hover .header__heading--second {
  opacity: 1;
}

.about {
  position: relative;
  width: 100%;
  height: 70vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/about-big.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__box {
  max-width: 1000px;
  background-color: rgba(0, 0, 0, 0.4);
  border-left: 1px solid yellow;
  padding: 6vmin 6vmin 10vmin !important;
  line-height: 1.7;
}
.about__img {
  float: left;
  height: 100px;
  width: 100px;
  margin: 1.5em;
  border-radius: 50%;
  border-style: none;
}
.about__text {
  margin: 0;
  word-spacing: 1px;
  display: flex;
  color: #b5b3b3;
  font-size: 2rem;
}
.about__text p {
  line-height: 40px;
}
.about__media {
  float: right;
  margin-top: 2em;
}
.about__media a {
  text-decoration: none;
  color: #b5b3b3;
  padding: 0.5em;
  font-size: 3rem;
  transition: color 0.3s;
}
.about__media a:hover {
  color: #FFFFFF;
}

@media (min-width: 628px) {
  .nav {
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  .nav {
    padding: 2em 6em;
  }
  #particles-js {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/header-desctop.jpg");
  }
}
@media (min-width: 1200px) {
  .nav {
    padding: 2em 8em;
  }
}/*# sourceMappingURL=main.css.map */