.section-padding {
  padding: 4em 4em;
}

.section-heading {
  position: relative;
  margin-bottom: 2em;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Nanum Gothic", "Montserrat", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em 4em;
  background-color: #141618;
  z-index: 1000;
}
.nav__logo {
  margin: 1em;
}
.nav__logo a {
  display: flex;
  align-items: center;
}
.nav__logo a .material-symbols-outlined {
  font-size: 3rem;
  margin-right: 0.5em;
}
.nav__logo-item {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  color: #FFFFFF;
  font-weight: 800;
  transition: color 0.3s;
}
.nav__logo-item:hover {
  color: #b5b3b3;
}
.nav__items {
  margin-top: 1.5em;
  text-align: center;
}
.nav__item {
  padding: 0.5em;
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #b5b3b3;
  transition: color 0.3s;
}
.nav__item:hover {
  color: #FFFFFF;
}
.nav__translate {
  display: inline-block;
  text-decoration: none;
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
}
.header__heading {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(18vmin + 8 * (100vw - 400px) / 400);
  text-transform: uppercase;
  color: #FFFFFF;
  transition: opacity 0.2s;
}
.header__heading--first {
  z-index: 200;
}
.header__heading--second {
  opacity: 0;
  z-index: 100;
}
.header__heading-box {
  cursor: pointer;
}
.header__heading-box:hover .header__heading--first {
  opacity: 0;
}
.header__heading-box:hover .header__heading--second {
  opacity: 1;
}

#particles-js {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/header-mobile.jpg");
  background-position: center;
  background-size: cover;
}

.about {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/forest-4945407_1920.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__heading {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 5rem;
  margin-bottom: 1em;
}
.about__box {
  max-width: 1000px;
  background-color: rgba(0, 0, 0, 0.4);
  border-left: 1px solid yellow;
  padding: 6vmin 6vmin 6vmin !important;
  line-height: 1.4;
  overflow: hidden;
  border-radius: 5px;
}
.about__img {
  margin-right: 0.5em;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  border-style: none;
  box-shadow: -1px 0px 64px 16px rgb(66, 68, 90);
}
.about__text {
  margin: 0;
  word-spacing: 1px;
  display: flex;
  color: #b5b3b3;
  font-size: 2rem;
  padding-left: 1em;
}
.about__text p {
  line-height: 40px;
}
.about__media {
  float: right;
  margin-top: 2em;
}
.about__media a {
  text-decoration: none;
  color: #b5b3b3;
  padding: 0.5em;
  font-size: 3rem;
  transition: color 0.3s;
}
.about__media a:hover {
  color: #FFFFFF;
}

.contact {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 10% 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/about-big.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.contact__input {
  background-color: rgb(59, 59, 59);
  color: #FFFFFF;
  margin-bottom: 2em;
}
.contact__input::-moz-placeholder {
  padding-left: 0.5em;
  color: #FFFFFF;
}
.contact__input:-ms-input-placeholder {
  padding-left: 0.5em;
  color: #FFFFFF;
}
.contact__input::placeholder {
  padding-left: 0.5em;
  color: #FFFFFF;
}
.contact__heading {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 3rem;
  margin: 1em 0;
}
.contact__box {
  border-right: 1px solid yellow;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2vw 4vw;
  border-radius: 8px;
  overflow: hidden;
}
.contact__box form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__box form input {
  margin: 10px 0;
  padding: 20px;
  font-size: 16px;
  width: 250px;
}
.contact__box form textarea {
  margin: 10px 0;
  padding: 20px;
  width: 250px;
  max-width: 250px;
  max-height: 250px;
  min-width: 250px;
  font-size: 16px;
}
.contact__box form button {
  margin-top: 1.5em;
  background: none;
  color: #FFFFFF;
  border: 1px solid rgb(85, 85, 22);
  width: 100%;
  padding: 1em 0;
  outline: none;
  background-color: rgba(243, 243, 0, 0.5);
  border-radius: 5px;
  cursor: pointer;
}

.footer {
  height: 35vh;
  background-color: #141618;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  padding: 0 3em;
}
.footer__text {
  font-size: 1.8rem;
  color: #FFFFFF;
}
.footer__name {
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
  transition: color 0.3s;
}
.footer__name:hover {
  color: #b5b3b3;
}
.footer hr {
  margin: 2em 0;
  width: 100%;
}
.footer__media a {
  text-decoration: none;
  color: #b5b3b3;
  padding: 0.5em;
  font-size: 2rem;
  transition: color 0.3s;
}
.footer__media a:hover {
  color: #FFFFFF;
}

@media (min-width: 672px) {
  .nav {
    flex-direction: row;
  }
  .nav__items {
    margin-top: 0;
  }
  .footer {
    height: 30vh;
  }
  .footer__text {
    font-size: 1.8rem;
  }
  .footer hr {
    width: 70%;
  }
  .footer__media a {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .about {
    height: 100vh;
  }
  .about__text {
    font-size: 3rem;
  }
  .contact {
    height: 100%;
  }
  .contact__heading {
    font-size: 4rem;
  }
  .contact__box {
    padding: 4vw 6vw;
  }
  .contact__box form input {
    font-size: 20px;
    width: 300px;
  }
  .contact__box form textarea {
    font-size: 20px;
    width: 300px;
    max-width: 300px;
    min-width: 300px;
  }
  .contact__box form button {
    padding: 1.5em 0;
  }
  .footer {
    height: 30vh;
  }
  .footer__text {
    font-size: 3rem;
  }
  .footer hr {
    width: 70%;
  }
  .footer__media a {
    font-size: 3rem;
  }
}
@media (min-width: 992px) {
  .nav {
    padding: 2em 6em;
  }
  #particles-js {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/header-desctop.jpg");
  }
  .about__text {
    font-size: 2.4rem;
  }
  .about__media a {
    font-size: 4rem;
  }
  .contact__box form input {
    font-size: 20px;
    width: 500px;
  }
  .contact__box form textarea {
    font-size: 20px;
    width: 500px;
    max-width: 500px;
  }
  .contact__box form button {
    padding: 1.5em 0;
  }
  .footer hr {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .nav {
    padding: 2em 8em;
  }
  .footer {
    height: 25vh;
  }
  .footer hr {
    width: 40%;
  }
}/*# sourceMappingURL=main.css.map */