$dark: #181818f8;
$main-color: white;
$item-color: #cccbcb;
$linear: linear-gradient(rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.658));
$linear-about: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
$input: rgb(59, 59, 59);
$blue: rgba(65, 105, 225, 0.877);
