$dark: #141618;

$main-color: #FFFFFF;
$item-color: #b5b3b3;
$linear: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
$linear-about: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
$input: rgb(59, 59, 59);