// $dark: #141618;
$dark: #030b14de;
// $main-color: #FFFFFF;
$main-color: #f0e9e9;
$item-color: #b5b3b3;
$linear: linear-gradient(rgba(0, 0, 0, 0.589), rgba(0, 0, 0, 0.76));
$linear-about: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
$input: rgb(59, 59, 59);
$blue: rgba(65, 105, 225, 0.384);
