@import './colors';
@import './components';

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Nanum Gothic', 'Montserrat', sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

//-----------------------
//NAV
//-----------------------

.nav {
	position: sticky;
	top: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 2em 4em;
	background-color: $dark;
	z-index: 1000;

	&__logo {
		margin: 1em;
		
		a{
			display: flex;
			align-items: center;
			
			.material-symbols-outlined{
				font-size: 3rem;
				margin-right: 0.5em;
			}
		}

		&-item {
			text-decoration: none;
			text-transform: uppercase;
			font-size: 2rem;
			color: $main-color;
			font-weight: 800;
			transition: color 0.3s;

			&:hover {
				color: $item-color;
			}
		}
	}

	&__item {
		padding: 0.5em;
		font-size: 1.8rem;
		font-weight: 700;
		text-decoration: none;
		text-transform: uppercase;
		color: $item-color;
		transition: color 0.3s;

		&:hover {
			color: $main-color;
		}
	}

	&__translate {
		display: inline-block;
		text-decoration: none;
	}
}



//-----------------------
//HEADER
//-----------------------

.header {
	position: relative;
	width: 100%;
	height: 100vh;

	&__heading {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: calc(18vmin + 8 * (100vw - 400px) / 400);
		text-transform: uppercase;
		color: $main-color;
		transition: opacity 0.2s;

		&--first {
			z-index: 200;
		}

		&--second {
			opacity: 0;
			z-index: 100;
		}

		&-box {
			cursor: pointer;

			&:hover {
				.header__heading--first {
					opacity: 0;
				}
				.header__heading--second {
					opacity: 1;
				}
			}
		}
	}
}

#particles-js {
	background-image: $linear, url('../img/header-mobile.jpg');
	background-position: center;
	background-size: cover;
}

//-----------------------
//ABOUTME
//-----------------------

.about {
	position: relative;
	width: 100%;
	height: 85vh;
	background-image: $linear-about, url('../img/about-big.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;


	&__heading{
		text-transform: uppercase;
		color: $main-color;
		font-size: 5rem;
		margin-bottom: 1em;
	}
	&__box {
		max-width: 1000px;
		background-color: rgba(0, 0, 0, 0.4);
		border-left: 1px solid yellow;
		padding: 6vmin 6vmin 10vmin !important;
		line-height: 1.7;
	}

	&__img {
		float: left;
		height: 140px;
		width: 140px;
		margin-right: 3em;
		border-radius: 50%;
		border-style: none;
	}
	&__text {
		margin: 0;
		word-spacing: 1px;
		display: flex;
		color: $item-color;
		font-size: 2rem;
		
		p {
			line-height: 40px;
		}
	}

	&__media {
		float: right;
		margin-top: 2em;

		a {
			text-decoration: none;
			color: $item-color;
			padding: 0.5em;
			font-size: 3rem;
			transition: color 0.3s;

			&:hover {
				color: $main-color;
			}
		}
	}
}

@media (min-width: 628px) {
	//-----------------------
	//NAV
	//-----------------------
	.nav {
		flex-direction: row;
	}
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
	//-----------------------
	//NAV
	//-----------------------
	.nav {
		padding: 2em 6em;
	}

	#particles-js {
		background-image: $linear, url('../img/header-desctop.jpg');
	}

		//-----------------------
	//ABOUUS
	//-----------------------

	.about{
		&__text{
			font-size: 2.4rem;
		}

		&__media{
			a{
				font-size: 4rem;
			}
			
		}
	}

}

@media (min-width: 1200px) {
	//-----------------------
	//NAV
	//-----------------------

	.nav {
		padding: 2em 8em;
	}
}
