@import './colors';
@import './components';
@import './animations';

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Nanum Gothic', 'Montserrat', sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: $dark;
}

.goog-te-gadget .goog-te-combo {
	margin: 0;
	padding: 0.5em;
	width: 150px;
	color: $main-color;
	border: 1px solid transparent;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 8px;
	transition: scale 0.1s;
	cursor: pointer;

	option {
		max-height: 10px;
	}
}

.goog-te-gadget {
	color: transparent !important;
}

.translate {
	position: fixed !important; // position: absolute !important;
	bottom: 0 !important;
	right: 0 !important;
	margin-right: 3em;
	z-index: 1000 !important;

	&__element {
		position: absolute;
		top: 0;
		color: $main-color;
		z-index: 1;
	}
}
.goog-logo-link,
.goog-logo-link:link,
.goog-logo-link:visited,
.goog-logo-link:hover,
.goog-logo-link:active {
	display: none;
}

//-----------------------
//NAV
//-----------------------

.nav {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2em 4em;
	background-color: $dark;
	z-index: 1000;

	&__burger {
		margin-left: 5em;
		padding: 1em;
		cursor: pointer;
		transition: background-color 0.3s;

		&:hover {
			.nav__burger-line::after,
			.nav__burger-line::before {
				width: 100%;
			}
			background-color: rgba(141, 141, 141, 0.212);
		}

		&-box {
			position: relative;
			height: 20px;
			width: 30px;
		}

		&-line,
		&-line::after,
		&-line::before {
			position: absolute;
			height: 2px;
			right: 0;
			content: '';
			background-color: $item-color;
			transition: all 0.3s;
		}

		&-line {
			width: 100%;
			top: 0;
		}

		&-line::after {
			width: 66%;
			top: 10px;
		}

		&-line::before {
			width: 33%;
			top: 20px;
		}

		&-cross {
			.nav__burger-line::before {
				display: none;
			}
			.nav__burger-line {
				top: 10px;
				transform: rotate(45deg);
			}
			.nav__burger-line::after {
				top: 0;
				width: 100%;
				transform: rotate(-90deg);
			}
		}
	}

	&__menu {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex-direction: column;
		top: -1px;
		right: 0;
		height: 40vh;
		width: 100%;
		background-color: $dark;
		z-index: -1;
		transform: translateY(-100%);
		transition: transform 0.3s;

		&--active {
			transform: translateY(0);
			top: 30px;
		}

		&-item {
			position: relative;
			margin: 1em 0;
			padding: 0.5em;
			font-size: 1.5rem;
			font-weight: 700;
			text-decoration: none;
			text-transform: uppercase;
			color: $item-color;
			transition: color 0.3s;

			&:last-child {
				margin-bottom: 3em;
			}

			&:hover {
				color: white;
			}
		}

		hr {
			width: 100%;
		}
	}

	&__logo {
		img {
			width: 200px;
			height: 60px;
		}
	}

	&__items {
		text-align: center;
	}

	&__item {
		display: none;
	}

	&__translate {
		display: inline-block;
		text-decoration: none;
	}
}

//-----------------------
//HEADER
//-----------------------

.header {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;

	&__item {
		display: none;
	}

	&__heading {
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 0.5em 1em;
		font-size: calc(16vmin + 8 * (100vw - 400px) / 400);
		text-transform: uppercase;
		color: $main-color;
		transition: opacity 0.2s;

		&--first {
			z-index: 200;
		}

		&--second {
			opacity: 0;
			z-index: 100;
		}

		&-box {
			cursor: pointer;

			&:hover {
				.header__heading--first {
					opacity: 0;
				}
				.header__heading--second {
					opacity: 1;
				}
			}
		}
	}
}

#particles-js {
	background-image: $linear, url('../img/header.jpg');
	background-position: center;
	background-size: cover;
}

//-----------------------
//ABOUTME
//-----------------------

.about {
	padding-top: 18em;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-image: $linear-about, url('../img/about.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;

	&::before {
		content: '';
		position: absolute;
		bottom: -50px;
		left: 0;
		right: 0;
		height: 100px;
		background: $dark;
		transform: skewY(-3deg);
		z-index: 0;
	}

	&__heading {
		display: flex;
		align-items: center;
		margin-bottom: 1em;
		font-size: 3rem;
		text-transform: uppercase;
		color: $main-color;
	}
	&__box {
		max-width: 1000px;
		margin-bottom: 10em;
		padding: 6vmin 6vmin 6vmin !important;
		line-height: 1.6;
		background-color: rgba(0, 0, 0, 0.4);
		border-left: 3px solid royalblue;
		border-radius: 5px;
		overflow: hidden;
	}

	&__img {
		margin-right: 0.5em;
		height: 100px;
		width: 100px;
		-webkit-box-shadow: -1px 0px 34px 16px rgba(66, 68, 90, 1);
		-moz-box-shadow: -1px 0px 34px 16px rgba(66, 68, 90, 1);
		box-shadow: -1px 0px 34px 16px rgba(66, 68, 90, 1);
		border-radius: 30%;
		border-style: none;
	}
	&__text {
		display: flex;
		margin: 0;
		padding-left: 1em;
		font-size: 1.6rem;
		word-spacing: 1px;
		color: $item-color;

		p {
			line-height: 40px;
		}
	}

	&__media {
		margin-top: 1.6em;
		float: right;

		a {
			padding: 0.5em;
			font-size: 3rem;
			text-decoration: none;
			color: $item-color;
			transition: color 0.3s;

			&:hover {
				color: $main-color;
			}
		}
	}
}

//-----------------------
//EXPERIENCE
//-----------------------

.experience {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: $dark;
	margin-bottom: 3em;


	&__heading {

		font-size: 1.8rem;
		text-align: left;
		color: $item-color;
	}

	.wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		max-width: 1400px;
		text-align: center;
	}

	&__box {
		display: grid;
		grid-template-columns: minmax(306px, 1fr);
		max-width: 438px;
		margin: 0 5em;
		width: 100%;
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin-bottom: 6em;
		padding: 2em 1em;
		background-color: #395b64;
		border-radius: 8px;
		box-shadow: 2px 3px 5px #ffd269;
		transition: scale 0.3s;

		&:hover {
			scale: 1.1;
		}

		&-icon {
			margin-top: 2em;
			margin-bottom: 3em;
			i {
				font-size: 5rem;
				color: #ffd369;
			}
		}
		&-level {
			display: flex;
			align-items: center;

			div {
				margin: 0.2em;
			}
		}

		&-one {
			.experience__item-point-five {
				background-color: #6e7076;
			}
		}
		&-two {
			.experience__item-point-five {
				background-color: #6e7076;
			}
		}

		&-three {
			.experience__item-point-five,
			.experience__item-point-four,
			.experience__item-point-three {
				background-color: #6e7076;
			}
		}

		&-four {
			.experience__item-point-five {
				background-color: #6e7076;
			}
		}

		&-five {
			.experience__item-point-five {
				background-color: #6e7076;
			}
		}

		&-six {
			.experience__item-point-five,
			.experience__item-point-four,
			.experience__item-point-three,
			.experience__item-point-two {
				background-color: #6e7076;
			}
		}

		&-point {
			height: 25px;
			width: 25px;
			background-color: #4fb767;
			border-radius: 50%;
		}

		&-step {
			height: 5px;
			width: 5px;
			background-color: #6490a2;
			border-radius: 50%;
		}
	}
}

//-----------------------
//CONTACT
//-----------------------

.contact {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10% 0;
	height: 100vh;
	width: 100%;
	background-image: $linear, url('../img/contact.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;

	&::before {
		content: '';
		position: absolute;
		top: -50px;
		left: 0;
		right: 0;
		height: 100px;
		background: $dark;
		transform: skewY(-3deg);
		z-index: 0;
	}

	&__input {
		margin-bottom: 2em;
		color: $main-color;
		background-color: $input;

		&::placeholder {
			padding-left: 0.5em;
			color: $main-color;
		}
	}

	&__heading {
		margin: 1em 0;
		font-size: 2.5rem;
		text-transform: uppercase;
		color: $main-color;
	}

	&__box {
		padding: 5em 4em;
		background-color: rgba(0, 0, 0, 0.6);
		border-radius: 8px;
		border-right: 3px solid royalblue;
		overflow: hidden;

		form {
			display: flex;
			flex-direction: column;
			align-items: center;

			input {
				margin: 10px 0;
				padding: 20px;
				width: 250px;
				font-size: 1.6rem;
				border: none;
			}
			textarea {
				margin: 10px 0;
				padding: 20px;
				width: 250px;
				max-width: 250px;
				max-height: 250px;
				min-width: 250px;
				font-size: 1.6rem;
				font-weight: 500;
				border: none;
				font-family: 'Nanum Gothic', 'Montserrat', sans-serif;
			}

			button {
				position: relative;
				margin-top: 1.5em;
				padding: 1em 0;
				width: 100%;
				color: $main-color;
				background: none;
				background-color: $blue;
				outline: none;
				border-radius: 5px;
				border: 1px solid $blue;
				transition: background-color 0.3s;
				cursor: pointer;

				&:hover {
					background-color: royalblue;
				}
			}
		}
	}
}

//-----------------------
//FOOTER
//-----------------------

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 5em 3em;
	color: $main-color;
	background-color: $dark;
	border-top: 3px solid $blue;

	&__text {
		font-size: 1.8rem;
		color: $main-color;
	}
	&__name {
		text-decoration: none;
		color: $main-color;
		transition: color 0.3s;
		cursor: pointer;
		&:hover {
			color: $item-color;
		}
	}

	hr {
		margin: 2em 0;
		width: 100%;
	}

	&__media {
		a {
			padding: 0.5em;
			font-size: 2rem;
			text-decoration: none;
			color: $item-color;
			transition: color 0.3s;

			&:hover {
				color: $main-color;
			}
		}
	}
}
