@import './colors';

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Nanum Gothic', 'Montserrat', sans-serif;
}

//-----------------------
//NAV
//-----------------------

.nav {
	position: sticky;
	top: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 2em 4em;
	background-color: $dark;
	z-index: 1000;

	&__logo {
		margin: 1em;

		&-item {
			text-decoration: none;
			text-transform: uppercase;
			font-size: 2rem;
			color: $main-color;
			font-weight: 800;
			transition: color 0.3s;

			&:hover {
				color: $item-color;
			}
		}
	}

	&__item {
		padding: 0.5em;
		font-size: 1.8rem;
		font-weight: 700;
		text-decoration: none;
		text-transform: uppercase;
		color: $item-color;
		transition: color 0.3s;

		&:hover {
			color: $main-color;
		}
	}
}

//-----------------------
//HEADER
//-----------------------

.header {
	position: relative;
	width: 100%;
	height: 100vh;

	&__heading {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: calc(18vmin + 8 * (100vw - 400px) / 400);
		text-transform: uppercase;
		color: $main-color;
		transition: opacity .2s;

		&--first{
			z-index: 200;
		}

		&--second{
			opacity: 0;
			z-index: 100;
		}

		&-box{
			cursor: pointer;

			&:hover{
				.header__heading--first{
					opacity: 0;
				}
				.header__heading--second{
					opacity: 1;
				}
			}
		}

	}
}

#particles-js {
	background-image: $linear, url('../img/bg2.jpg');
	background-position: center;
	background-size: cover;
}

@media (min-width: 628px) {
	//-----------------------
	//NAV
	//-----------------------
	.nav {
		flex-direction: row;
	}
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
	//-----------------------
	//NAV
	//-----------------------
	.nav {
		padding: 2em 6em;
	}
}

@media (min-width: 1200px) {
	//-----------------------
	//NAV
	//-----------------------

	.nav {
		padding: 2em 8em;
	}
}
