@import './colors';

@media (min-width: 500px) {
	//-----------------------
	//NAV
	//-----------------------
	.nav {
		&__item {
			font-size: 1.8rem;
		}
	}

	//-----------------------
	//PROJECTS
	//-----------------------

	.projects {
		&__box {
			width: 350px;
		}
		&__img {
			img {
				height: 250px;
				width: 350px;
			}
		}
	}
}

@media (min-width: 693px) {
	//-----------------------
	//NAV
	//-----------------------
	.nav {
		flex-direction: row;

		&__items {
			margin-top: 0;
		}
	}

	//-----------------------
	//FOOTER
	//-----------------------

	.footer {
		&__text {
			font-size: 1.8rem;
		}

		hr {
			width: 70%;
		}

		&__media {
			a {
				font-size: 2rem;
			}
		}
	}

	//-----------------------
	//PROJECTS
	//-----------------------

	.projects {
		&__box {
			width: 400px;
		}
		&__img {
			img {
				height: 300px;
				width: 400px;
			}
		}
	}
}

@media (min-width: 768px) {
	//-----------------------
	//ABOUTME
	//-----------------------

	.about {
		&__text {
			font-size: 1.6rem;
		}
	}

	//-----------------------
	//EXPERIENCE
	//-----------------------

	.experience{
		margin-bottom: 8em;
		&__box{
			grid-template-columns: repeat(2, 1fr);
			gap: 50px;
		}

		&__item{
			margin-bottom: 0;
		}

	}

	//-----------------------
	//CONTACT
	//-----------------------

	.contact {
		height: 100%;

		&__box {
			margin-top: 7em;
			padding: 4vw 6vw;

			form {
				input {
					width: 300px;
				}
				textarea {
					width: 300px;
					max-width: 300px;
					min-width: 300px;
				}

				button {
					padding: 1.5em 0;
				}
			}
		}
	}

	//-----------------------
	//FOOTER
	//-----------------------

	.footer {
		&__text {
			font-size: 2rem;
		}

		hr {
			width: 70%;
		}

		&__media {
			a {
				font-size: 2rem;
			}
		}
	}

	//-----------------------
	//PROJECTS
	//-----------------------

	.projects {
		&__box {
			width: 500px;
		}
		&__img {
			img {
				height: 350px;
				width: 500px;
			}
		}
	}
}

@media (min-width: 992px) {
	//-----------------------
	//NAV
	//-----------------------
	.nav {
		padding: 2em 6em;

		&__burger {
			display: none;
		}

		&__menu {
			display: none;
		}

		&__item {
			display: inline;
			position: relative;
			padding: 0.5em;
			font-size: 1.5rem;
			font-weight: 700;
			text-decoration: none;
			text-transform: uppercase;
			color: $item-color;
			transition: color 0.3s;

			&:hover {
				color: white;
			}
			margin-left: 1em;

			&,
			&::after,
			&::before {
				transition: transform 0.3s;
			}

			&::after,
			&::before {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				opacity: 0;
				transition: 0.3s;
			}

			&::after {
				top: -2px;
				left: -8px;
				border-top: 3px solid #fff;
				border-left: 3px solid #fff;
			}

			&::before {
				bottom: -2px;
				right: -8px;
				border-bottom: 3px solid #fff;
				border-right: 3px solid #fff;
			}

			&:hover::after,
			&:hover::before {
				width: 50px;
				height: 50%;
				opacity: 1;
			}
		}
	}

	#particles-js {
		background-image: $linear, url('../img/header.jpg');
	}

	//-----------------------
	//HEADER
	//-----------------------

	.header {
		&__item {
			display: block;
			position: absolute;
			color: $main-color;
			bottom: 4em;
			left: 50%;
			font-size: 3rem;
			padding: 2em 0;
		}
	}

	//-----------------------
	//ABOUUS
	//-----------------------

	.about {
		padding-top: 0;
		height: 100vh;

		&__text {
			line-height: 3rem;
		}

		&__box {
			margin-bottom: 0;
		}
	}

	//-----------------------
	//CONTACT
	//-----------------------

	.contact {
		&__box {
			form {
				input {
					font-size: 15px;
					width: 500px;
				}
				textarea {
					font-size: 15px;
					width: 500px;
					max-width: 500px;
					min-width: 500px;
				}

				button {
					padding: 1.5em 0;
				}
			}
		}
	}

	//-----------------------
	//FOOTER
	//-----------------------

	.footer {
		hr {
			width: 50%;
		}
	}

	//-----------------------
	//PROJECTS
	//-----------------------

	.projects {
		&__box {
			display: flex;
			width: 100%;
		}
		&__img {
			height: 300px;
			width: 400px;
			img {
				height: 300px;
				width: 400px;
			}
		}

		&__link {
			position: absolute;
			bottom: 0;
		}

		&__heading {
			margin-top: 1em;
		}
	}
}

@media (min-width: 1200px) {
	//-----------------------
	//NAV
	//-----------------------

	.nav {
		padding: 2em 8em;
	}

		//-----------------------
	//EXPERIENCE
	//-----------------------

	.experience{

		&__box{
			grid-template-columns: repeat(3, 1fr);
		}



	}

	//-----------------------
	//CONTACT
	//-----------------------

	.contact {
		&__box {
			padding: 4vw 5vw;
		}
	}

	//-----------------------
	//FOOTER
	//-----------------------

	.footer {
		hr {
			width: 40%;
		}
	}
}

@media (min-width: 1400px) {
	//-----------------------
	//PROJECTS
	//-----------------------

	.projects {
		&__box {
			width: 100%;
		}
		&__img {
			height: 350px;
			width: 500px;
			img {
				height: 350px;
				width: 500px;
			}
		}
	}
}
